@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Raleway', sans-serif; */

.container {
  width: 75%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoWrapper{
  cursor: pointer;
}
.logoWrapper:hover{
  scale: 1.1;
}
.nav {
  display: flex;
  gap: 10px;
  align-items: center;
}
.link a{
  color: #60E1CB;
  text-decoration: none;
  font-size: smaller;
  font-family: 'Raleway', sans-serif;
  padding: 13px 20px;
  border-radius: 26px;
  cursor: pointer;
  transition: .3s;
}
.link a:hover{
  background-color: #7BC0E3;  
  color: #fff;
}
.link:nth-last-child(1) a{
  background-color: #7BC0E3;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  color: white;
  padding: 13px 20px;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}
.link:nth-last-child(1):hover a{
  background-color: #60E1CB;
}



